##########################################################
viewer
{
    viewobjects = [ franco, remotelog ]; 

    remotelog {
	class = "april.viewer.RemoteLogEventHandler";
    }

    franco {
	class = "franco.prototype.ViewFranco";
        image_repository_path = "/home/pradeep/Desktop/GreenMountainRoad/thumbs";
        railway_crossing_artwork = "/home/pradeep/yellow.png";
    }    
}

VELODYNE {
    position = [ 0, 0, 0];
    rollpitchyaw_degrees = [ 0, -45, 0 ];
}
